input.from-control{
	border: none;
	border-bottom: 1px solid #6b6b6b;
	margin-top: 10px;
}
.cmpnew{
	    border: none;
	    border-bottom: 1px solid #6b6b6b;
	    margin-top: 10px;
	    width: 42%;
	    padding-right: 110px;
}
.file{    margin-top: 10px;}
.table.table-bordered, .jsgrid .table-bordered.jsgrid-table {
    border-top: 1px solid #424351;
}
.table.table-bordered, .jsgrid .table-bordered.jsgrid-table {
    border-top: 1px solid #424351;
}

.table, .jsgrid .jsgrid-table {
    margin-bottom: 0;
}
.table, .jsgrid .jsgrid-table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: #1e1e2f;
    width: 100%;
    margin-bottom: 1rem;
    color: #000;
    vertical-align: top;
    border-color: #000;
}
@media (max-width:768px){
.ps_popup_wrap .price_cnt {
	text-align: right;
	padding: 1.5rem 1em 1.5rem;
	line-height: 1.25em;
	background: #fff;
	border-top: 1px solid #7c9d9f;
	position: absolute;
	left: 0;right: 0;bottom: -37.4rem;
}
.popup_footer {
    background: #d3e1ea;
    border-top: 1px solid #27607e;
    padding: 0.5rem 0.7rem;
    text-align: right;
    position: absolute;
    bottom: -442px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}
}
@media (min-width:769px){
	.popup_footer {
	background: #d3e1ea;
	border-top: 1px solid #27607e;
	padding: 0.5rem 0.7rem;
	text-align: right;

	position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}
.ps_popup_wrap .price_cnt {
	text-align: right;
	padding: 1.5rem 1em 1.5rem;
	line-height: 1.25em;
	background: #fff;
	border-top: 1px solid #7c9d9f;
	position: absolute;
	left: 0;right: 0;bottom: 3.6rem;
}
}
@media (min-width:1025px){
	.popup_footer {
	background: #d3e1ea;
	border-top: 1px solid #27607e;
	padding: 0.5rem 0.7rem;
	text-align: right;

	position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}
.ps_popup_wrap .price_cnt {
	text-align: right;
	padding: 1.5rem 1em 1.5rem;
	line-height: 1.25em;
	background: #fff;
	border-top: 1px solid #7c9d9f;
	position: absolute;
	left: 0;right: 0;bottom: 3.6rem;
}
}
@media (min-width:1500px){
	.popup_footer {
	background: #d3e1ea;
	border-top: 1px solid #27607e;
	padding: 0.5rem 0.7rem;
	text-align: right;

	position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}
.ps_popup_wrap .price_cnt {
	text-align: right;
	padding: 1.5rem 1em 1.5rem;
	line-height: 1.25em;
	background: #fff;
	border-top: 1px solid #7c9d9f;
	position: absolute;
	left: 0;right: 0;bottom: 3.6rem;
}
}
/* Sizes */
.component._xs {
	font-size: 1.2rem;
}
.component._xs2 {
	font-size: 1.3rem;
}

.component._sm {
	font-size: 1.4rem;
}
.component._sm2 {
	font-size: 1.5rem;
}
.component._md {
	font-size: 1.6rem;
}
.component._md2 {
	font-size: 1.7rem;
}
.component._lg {
	font-size: 1.8rem;
}
.component._lg2 {
	font-size: 1.9rem;
}
.component._xl {
	font-size: 2em;
}

._mgbt_1em {
	margin-bottom: 1em;
}


/* Themes */

.component._theme3 .component_label {
	color: #3e7c8e;
}
.component._theme3 {
	border-color: #cbdde2;
	color: #3e7c8e;
}

.component._theme3.disabled .component_label {
	color: #cfcfcf;
	cursor: default;
}
.component._theme3.disabled .component_ip {
	background: transparent;
	cursor: default;
}
.component._theme3.disabled {
	border-color: #eee;
	cursor: default;

}

.component._nobg .cmp_ip {
	background: transparent;
}

.component._wbg {
	background: #fff;
}
.component.inputbox._wbg {
	background: #fff;
}

.component.inputbox._red .ipbx_ip,.component.inputbox._red .ipbx_thsep {
	color: #f00;
}

.inputbox._type2._wbg .ipbx_ip {
	background: #fff;
}

.component.disabled {
	-webkit-user-select: none; /* Safari, iOS, and Android */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    pointer-events : none;
    border-color: #e2e2e2;
    position: relative;
    color: #7a7a7a;
	cursor: default;
}
.component.hidden {
	display: none;
}
.component.visible {
	display: block;
}
.component.no_edit {
	cursor: default;
	pointer-events:none;
	color: #888;
}

.component.no_fade_disabled .cmp_ip {
	color: inherit !important;
}

.component.disabled:after,.component.no_edit:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
}


.component.disabled .cmp_label {
	color: #000;
}


/* Button
=========================
*/

.btn {
	display: inline-block;
	cursor: pointer;
	outline: none;
	font-family: inherit;
	line-height: 1em;
}

.component.btn.disabled,.component.btn[disabled="true"] {
	border-color: #e2e2e2;
  position: relative;
  color: #e2e2e2;
	cursor: default;
	background: #c1c1c1;
	pointer-events: none;
}
.btn._type1 {
	border:none;
	vertical-align: top;
	border-bottom: 2px solid #444;
	background: #5c5c5c;
	color: #fff;
	font-weight: 400;
    text-align: center;
		padding: 0.25em 0.5em 0.25em;
    box-sizing: border-box;
    min-width: 2em;
}

.btn._type1._nomw {
	min-width: 0;
}
	

.btn._type1._vmiddle {
	vertical-align: middle;
}

.btn._type1:focus {
	background: #ccc;
	color: #444;
}

.btn._type1:active {
	border-bottom: none;
	border-top-width: 2px;
	border-top-style: solid;
}
.btn._theme1 {
	background: #2782ad;
	border-color: #026a69;
}
.btn._theme2 {
	background: #3e3e3e;
	border-color: #1b2f2c;
}
.btn._theme2:focus {
	background: #2782ad;
	border-color: #026a69;
	color: #fff;
}

.btn.accept {
	background: #609e60;
	border-color: #295429;
}

.btn.decline {
	background: #c5c5c5;
	border-color: #afafaf;
}


/* Inputbox */

.component.inputbox {
	position: relative;
}
.component._darkbg .cmp_label {
	color: #fff;
}
.cmp_label {
	cursor: text;
	color: #000;
	font-size: 11pt;
	font-weight: 700;
}
.ipbx_ip {
	font: inherit;
	line-height: 1.2em;
	box-sizing: border-box;
}
.inputbox._type1 {
	padding-top: 0.9em;
	color: #333;
}

.inputbox._type1 .ipbx_label {
	position: absolute;
	left: 0.5em;
	top: 0em;
	pointer-events: none;
}
.inputbox._type1 .ipbx_ip {
	border:none;
	outline: none;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #6b6b6b;
	border-bottom-color: inherit;
	padding-left: 0.5em;
	padding-bottom: 10px;
}
.inputbox._type1 .ipbx_ip:focus {
	color: #2bbdb0;
	border-color: #2bbdb0;
}
.inputbox._type1 .ipbx_ip:disabled {
	background: #fff;
}

.inputbox._type2 .ipbx_ip:focus {
	color: #2bbdb0;
	border-color: #2bbdb0;
}

.inputbox._type1.error {
	color: #d26d6d;
}
.inputbox._type1.error .ipbx_ip {
	border-bottom-color: #d26d6d;
}
.inputbox._type1.error .ipbx_label {
	color: #d26d6d;
}

.cmp_msg {
		display: block;
    font-size: 1.2rem;
    margin-top: 4px;
    top: 0px;
    font-weight: 300;
    right: 0;
}

/*.cmp_msg.error_msg {
	color: #960505;
}
*/
.cmp_msg.info_msg {
	color: inherit;
}

.error_msg {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 4px;
	background: #9c5050;
	color: #fff;
	padding: 0.5rem;
	z-index: 898;
	border-radius: 2px;
	right: auto;
}
.error_msg:before {
	content: "";
	position: absolute;
	left: 20%;
	margin-left: -5px;
	top: -4px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #9c5050;
}



.inputbox._type1 input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.inputbox._type1 .ipbx_ip:-webkit-autofill + .ipbx_label {
	font-size: 0.8em;
	font-weight: 400;
	opacity: 1;
	top: 0;
	left: 0;
}
.inputbox._type1 .ipbx_ip:focus + .ipbx_label,
.inputbox._type1.focused .ipbx_label,
.inputbox._type1.filled .ipbx_label {
	font-size: 11pt;
	font-weight: 700;
	opacity: 1;
	top: 0;
	left: 0;
	color: #000;
}

.inputbox.focused .ipbx_thsep {
	display: none;
}

.inputbox._type1 .ipbx_thsep {
	position: absolute;
	left: 0.5em;top: 1em;
	pointer-events: none;
	background: #fff;
}

.inputbox._type2 .ipbx_ip {
	border:none;
	outline: none;
	background: transparent;
	padding: 0;
	width: 100%;
	color: inherit;
	border-bottom: 1px solid #6b6b6b;
	border-color: inherit;
	padding-left: 0.2em;
	padding-bottom: 0.1em;
}

.inputbox._type2 .ipbx_label {
	position: absolute;top: 0em;left: 0.2em;
	pointer-events: none;
}
.inputbox._type2 .ipbx_thsep,.inputbox._type4 .ipbx_thsep {
	position: absolute;top: 0;left: 0.2em;
	pointer-events: none;
	background: inherit;
}

.component.inputbox._ralign .ipbx_ip {
	text-align: right;
	padding-left: 0;
	padding-right: 0.2em;
}
.component.inputbox._lalign .ipbx_ip {
	text-align: left;
}

.component.inputbox._type2._ralign .ipbx_label {
	right: 0.2em;left:auto;
}

.inputbox._type1._ralign .ipbx_label {
	right: 0.2em;left:auto;
}

.inputbox._type1._ralign .ipbx_ip:focus + .ipbx_label,
.inputbox._type1.focused._ralign .ipbx_label,
.inputbox._type1.filled._ralign .ipbx_label {
	/* left: auto;right: 0; */
}

._ralign {
	text-align: right;
}

.component.inputbox._ralign .ipbx_thsep {
	right: 0.2em;
	left:auto;
}


.inputbox._type2 .ipbx_ip:focus + .ipbx_label,
.inputbox._type2.focused .ipbx_label,
.inputbox._type2.filled .ipbx_label {
	display: none;
}

.inputbox._type3 {
	padding-top: 0.9em;
	color: #4c4c4c;
}
.cmp_ip {
	text-align: inherit;
}

.inputbox._type3 .ipbx_ip {
	border:none;
	outline: none;
	background: transparent;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #6b6b6b;
	border-color: inherit;
	padding-left: 0.5em;
	padding-bottom: 0.1em;
}
.inputbox._type3 .ipbx_label {
	position: absolute;top: 0em;left: 0em;
	pointer-events: none;
	font-size: 0.875em;
	display: block;
	color: #6379cb;
}
.inputbox._type3 .ipbx_ip:focus + .ipbx_label,
.inputbox._type3.filled .ipbx_label {
	display: block;
}

.inputbox._type4 {
	color: #4c4c4c;
}

.inputbox._type4 .ipbx_ip {
	border:none;
	outline: none;
	background: transparent;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #6b6b6b;
	color: inherit;
	border-color: inherit;
	padding-left: 0.5em;
	padding-bottom: 0.1em;
}
.inputbox._type4 .ipbx_label {
	position: absolute;top: 0.1em;left: 0em;
	pointer-events: none;
	font-size: 1em;
	display: block;
	color: #222;
}


	
.inputbox._theme2 .ipbx_ip {
	border-bottom-color: #048c94;
}


/* Combobox */

.component.combobox {
	position: relative;
}
.cmp_ip {
	outline: none;
	line-height: 1.2em;
}

.cmbx_ip {
	font: inherit;
	background: transparent;
	line-height: 1.2em;
	box-sizing: border-box;
}
.cmbx_info {
	font-size: 0.875em;
	display: block;
	padding-top: 0.3em;
	color: #306886;
}

.combobox._type1 .cmbx_arrow,.combobox._type2 .cmbx_arrow {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	color: #6b5f5f;
}

.combobox._type1 .cmbx_with_srch .cmbx_arrow,.combobox._type2 .cmbx_with_srch .cmbx_arrow {
	right: 1.4em;
}

.combobox._type1 .cmbx_search:before,.combobox._type2 .cmbx_search:before {
	content: "\f4a5";
	font:1.25em 'Ionicons';
}

.combobox._type1 .cmbx_search.cmbx_detbtn:before,.combobox._type2 .cmbx_search.cmbx_detbtn:before {
	content: "\f417";
	font:1.25em 'Ionicons';
}

.combobox._type1 .cmbx_search,.combobox._type2 .cmbx_search {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	color: #6b5f5f;
}

.combobox._type1 .cmbx_search.cmbx_detbtn {
	bottom: 0.1em;
}

.combobox._type1 .cmbx_arrow:hover,.combobox._type2 .cmbx_arrow:hover {
	color: #2bbdb0;
}

.component.combobox._darkbg .cmbx_arrow:hover {
	color: #fff;
}

.combobox._type1 .cmbx_arrow:before,.combobox._type2 .cmbx_arrow:before {
	content: "\f3d0";
	font:1.25em 'Ionicons';
}
.combobox._type1 .cmbx_arrow.cmbx_close:before,.combobox._type2 .cmbx_arrow.cmbx_close:before {
	content: "\f404";
	font: 1.9em 'Ionicons';
	display: inline-block;
	overflow: hidden;
	line-height: 0.6em;
}

.combobox._type1 .cmbx_ip:focus {
	color: #2bbdb0;
	border-color: #2bbdb0;
}

.cmbx_dropdown {
	position: absolute;
	display: none;
	left: 0;width: 100%;
	max-height: 250px;
	z-index: 99;
}
.cmbx_drop_innr {
	display: block;
    border: 1px solid #bfbfbf;
    margin-top: -1px;
    background: #ffffff;
    box-shadow: 3px 4px 6px -3px rgba(0,0,0,0.4)
}
.cmbx_noitem,.cmbx_loading {
	display: block;
	padding: 1.2rem 0.7rem 1.1rem;
	text-overflow:ellipsis;
	white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: #aaa;
}


.cmpbx_innr {
	position: relative;
	border-color: inherit;
}
.combobox._type1 .cmpbx_input {
	padding-right: 1em;
}

.combobox._type1 .cmbx_with_srch .cmpbx_input {
	padding-right: 2.7em;
	padding-bottom: 7px;
}

.combobox._type1 .cmpbx_input:after {
	content: "";
	left: 0;
	position: absolute;
	bottom: -1px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: inherit;
}

.combobox._type1 .cmpbx_innr {
	padding-top: 0.9em;
}

.combobox._type1 .cmbx_label {
	position: absolute;
	left: 0.5em;
	top: 0;
	pointer-events: none;
}
.combobox._type1 .cmbx_ip {
	border:none;
	outline: none;
	color: inherit;
	padding: 0;
	width: 100%;
	padding-left: 0.5em;
	padding-bottom: 11px;
}
.component.btn.hdr_btn {
	padding: 0.6rem 1rem;
	min-width: 3em;
}

._inline_bl {	
	display: inline-block;
	vertical-align: middle;
}

._alright {
	text-align: right;
}
._alleft{
	text-align: left;
}
._alcenter {
	text-align: center;
}


.component.combobox._darkbg {
	color: #fff;
}
.combobox._darkbg._type1.focused .cmpbx_input, .combobox._type2._darkbg.focused .cmpbx_input {
	color: #fff;
}
.combobox._darkbg .cmbx_arrow, .combobox._darkbg .cmbx_arrow {
	color: #fff;
}

.combobox._type1 input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.combobox._type1 .cmbx_ip:focus + .cmp_label,
.combobox._type1.filled .cmp_label,
.combobox._type1.focused .cmp_label {
	font-size: 0.875em;
	color: #6379cb;
	top: 0;
	left: 0;
}

.combobox._type1.focused .cmpbx_input,.combobox._type2.focused .cmpbx_input {
	color: #2bbdb0;
	border-color: #2bbdb0;
}

.cmbx_ul_cnt {
	display: block;
	border: 1px solid #24209c;
	margin-top: -1px;
	background: #ffffff;
	box-shadow: 6px 5px 18px -2px rgba(0,0,0,0.7);
	overflow-y:auto;
	max-height: 300px;
}

.component.labelbox._type2 {
	line-height: 1.2em;
}

.combobox._type2 .cmbx_ip {
	border:none;
	outline: none;
	background: transparent;
	padding: 0;
	width: 100%;
	color: inherit;
	border-bottom: 1px solid #6b6b6b;
	border-color: inherit;
	padding-left: 0.2em;
	padding-bottom: 0.1em;
}
.combobox._type2 .cmbx_label {
	position: absolute;bottom: 0.2em;left: 0.2em;
	pointer-events: none;
}

.combobox._type2 .cmbx_ip:focus + .cmbx_label,
.combobox._type2.filled .cmbx_label,
.combobox._type2.focused .cmbx_label {
	display: none;
}
.combobox._type2 .cmbx_ip:focus + .cmbx_label + .cmbx_dropdown {
	display: block;
}

.combobox._theme2 .cmbx_ip {
	border-bottom-color: #048c94;
}

.combobox._theme4 .cmbx_label {
	color: inherit;
}
.combobox._theme4.focused .cmpbx_input,.combobox._theme4.focused .cmpbx_input {
	color: inherit;
	border-color: inherit;
}


/*
	Datepicker
	=================
*/

.component.datefield {
	position: relative;
	display: inline-block;
}

.datefield._type1 .dtpckr_label {
	font-size: 11pt;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	font-weight: 600;
}
.selectbx_label {
	font-size: 11pt;
	display: block;
	margin-bottom: 0.5em;
	color: #000;
	font-weight: 700;
}

.datefield._type1 .dtpckr_ip {
	/* border:none; */
	outline: none;
	font:inherit;
	line-height: 1.2em;
	/* box-sizing:border-box; */
	/* background: transparent; */
	padding:inherit;
	min-width: 6em;
	width: 400px;
	/* border-bottom: 1px solid #6b6b6b;
	padding-left: 0.5em; */
	margin-top: 10px;
}
.datefield._type1 .dtpckr_ip:focus {
	color: #2bbdb0;
    border-color: #2bbdb0;
}

.datefield._type1 .dtpck_innr {
	position: relative;
	padding-top: 0.9em;
}
.datefield._type1 .dtpck_innr:before {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	content: "\f3f3";
	font:1.25em 'Ionicons';
	color: #6b5f5f;
}

.datefield._type2 .dtpckr_label {
	display: none;
}

.datefield._type2 .dtpckr_ip {
	border:none;
	outline: none;
	font:inherit;
	line-height: 1.2em;
	box-sizing:border-box;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #6b6b6b;
	padding-left: 0.5em;
	padding-bottom: 0.1em;
}
.datefield._type2 .dtpckr_ip:focus {
	color: #2bbdb0;
  border-color: #2bbdb0;
}


.datefield._theme2 .dtpckr_ip {
	border-bottom-color: #048c94;
}
.component._theme_trans .cmp_ip {
	background: transparent;
}

/* Radio button
===========================
*/

.component.radio {
	color: #727272;
	margin-right: 0.5em;
	cursor: pointer;
}
.rdbx_span:before {
	content: "\f3a6";
	color: #404040;
	position: relative;top: 1px;
	font:1.25em 'Ionicons';
	margin-right: 0.15em;
}
.rdbx_ip {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.rdbx_ip:checked + .rdbx_span:before {
	content: "\f3a7";
}

.rdbx_ip:focus + .rdbx_span:before {
	color: #0dc3ce;
}

.rdbx_label {
	font-size: 0.875em;
	display: block;
	margin-bottom: 0.5em;
	color: #6379cb;
}


/* Checkbox
===========================
*/

.component.checkbox {
	display: inline-block;
	-webkit-user-select: none; /* Safari, iOS, and Android */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
}

.checkbox._type1 .chkbx_span {
	display: inline-block;
	width: 1.4em;height: 1.18em;
	border:1px solid #aaa;
	border-color: inherit;
	text-align: left;
}
.component.checkbox label {
	position: relative;
	cursor: pointer;
}

.chkbx_span:before {
	content: "\f122";
	font-family:'Ionicons';
	position: relative;
	top: 2px;left: 3px;
	opacity: 0;
}
.chkbx_ip {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox._type1 .chkbx_ip:focus + .chkbx_span {
	border: 1px solid #1f747d;
	background: #ccc;
}
.checkbox._type1 .chkbx_ip:checked + .chkbx_span:before {
	opacity: 1;
}

/* Textarea */

.component.textarea {
	height: auto;
}
.textarea._type1 .txtarea_label {
	display: block;
	margin-bottom: 5px;
	font-size: 0.875em;
	color: #6379cb;
}
.textarea._type1._h6em .txtarea_ip {
		height: 6em;
}
.textarea._type1._h10em .txtarea_ip {
		height: 10em;
}
.textarea._type1._h20em .txtarea_ip {
		height: 20em;
}


.textarea._type1 .txtarea_ip {
	display: inline-block;
	box-sizing:border-box;
	padding: 0.2rem 0.6rem;
	border-width:1px;
	border-style:solid;
	border-color: inherit;
	resize: none;
	outline: none;
	font:inherit;
	width: 100%;
	min-width: 250px;
	min-height: 60px;
}

.textarea._theme2 .txtarea_ip {
	border-bottom-color: #048c94;
}

/* Select box */
.component.selectbox {
	position: relative;
}

.component.selectbox select {
    width: 100%;
    height: 25px;
    color: #292828;
    outline: none;
    font: inherit;
    background: none;
    border: none;
    height: 1.52em;
    margin-top: 7px;
    border-bottom: 1px solid #6b6b6b;
}

.component.selectbox select:focus {
	border-bottom-color: #2bbdb0;
	color: #2bbdb0;
}

.component.selectbox._type3 .selectbx_label {
	display: none;
}
.component.selectbox._type4 .selectbx_label {
	display: inline-block;
	font:inherit;
	color: inherit;
}
.component.selectbox._type4 .selectbx_label:after {
	content: " : ";
}
.component.selectbox._type4 select {
	width: auto;
	min-width: 5em;
}

/* Dropdown */

.component.dropdown {
	display: inline-block;
}

.dropdown-text {
	display: block;
	min-width: 80px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.dropdown-icon {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}

.dropdown-text:after {
	content: "\f123";
	float: right;
	font:16px/30px 'Ionicons';
	margin-left: 10px;
	position: relative;
	top: -2px;
}

.dropdown-ul {
	display: none;
	position: absolute;
}

.context_menu {
	background: #fff;
	color: #000;
	border:1px solid #333;
	padding: 0;
	-webkit-user-select: none; /* Safari, iOS, and Android */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.context_menu li {
	padding: 0.6rem 0.8rem;
	cursor: pointer;
}
.context_menu li:hover {
	background: #47717d;
	color: #fff;
}


.dropdown-box {
	display: none;
	position: absolute;
	background: #fff;
	color: #000;
	border:1px solid #333;
	padding: 2rem;
}
.dropdown-box.open {
	display: block;
}

.dropdown-box:before {
	content: "";
	position: absolute;
	right: 110px;
	margin-left: -5px;
	top: -5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}


.dropdown-list {
	position: absolute;
    display: none;
    width: 100%;
    box-sizing: border-box;
    /* padding: 10px; */
    margin-top: 2px;
    z-index: 10;
    background: #ffffff;
    border: 1px solid #9c9c9c;
    /* border-color: inherit; */
    box-shadow: 2px 2px 8px -2px #aaa;
}

.cmbx_ul li {
    max-width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
		overflow: hidden;
}
.cmbx_ul li > span {
	padding: 0.8rem 0.6rem 0.7rem;
	text-overflow:ellipsis;
	white-space: nowrap;
	display: block;
  overflow: hidden;
}
.cmbx_ul li > i {
	float: right;
	padding: 0.8rem 0.6rem 0.7rem;
	color: #34406d;
}

.cmbx_ul li:hover,.cmbx_ul li.selected {
	background: #3c6d9b;
	color: #fff;
	font-weight: 500;
}

.cmbx_ul li.selected > i {
	color: #fff;
}
.filefield {
	font: inherit;
	position: relative;
}

.filefield .file_ip {
	position: absolute;
	visibility: hidden;
	pointer-events: none;
	width: 0;height: 0;top: 0;left: 0;
}
.filefield .file_ip_upbtn {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
}
.filefield .file_ip_upbtn::after {
	content: "\f4ca";
	color: inherit;
	font:20px "Ionicons";
}

.filefield .file_ip_upbtn.fb_close::after {
	content: "\f404";
	color: inherit;
	font:20px "Ionicons";
}

.filefield .file_ip_upbtn:hover {
	color: #2bbdb0;
}

.filefield .filetxt_ip {
	font:inherit;
	line-height: 1.2em;
	border:none;
	box-sizing: border-box;
	outline: none;
	background: transparent;
	padding: 0;
	width: 100%;
	color: inherit;
	border-bottom: 1px solid #6b6b6b;
	border-color: inherit;
	padding-left: 0.2em;
	padding-right: 1.3em;
	padding-bottom: 0.1em;
}



/* Textarea */

.txar__ip {
    display: block;
    margin-top: 10px;
    resize: none;
    border-color: inherit;
    outline: none;
    font:inherit;
    padding: 0.5em;
    /* border: 1px solid #000; */
    height: 4em;
    width: 100%;
}

/* DS */

.ds_head {
    margin: 7px 0 7px;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.8rem;
    border-bottom: 3px solid #ccc;
    color: #5d5d5d;
}

.h4_title {
	font-size: 18px;
	margin-bottom: 0.8em;
}

.ds_within_tab .ds_topcnt {
	float: right;
	margin-top: -37px;
	margin-right: -7px;
}

.ds_with_head .ds_topcnt {
	float: right;
	margin-top: -43px;
}

.ds_pagin_pullup .ds_topcnt {
	float: right;
	margin-top: -39px;
	margin-right: 0;
}

#ds_tooltip {
	position: absolute;
	max-width: 400px;
	line-height: 1em;
	background: #333;
	padding: 0.6rem 1rem;
	border-radius: 4px;
	margin: 10px 0 0 10px;
	pointer-events:none;
	opacity: 0.95;
	font-size:1.3rem;
	color: #fff;
	z-index: 9999;
	display: none;
}

.ds_filter_btn {
	margin-right: 20px;
	font-size: 0;
	background: transparent;
	border:1px solid #4c4c4c;
	display: inline-block;
	vertical-align: middle;
	color: #4c4c4c;
	width: auto;
	padding: 0.3rem 0.4rem;
	cursor: pointer;
}
.ds_filter_btn:hover { background: #27607e;color: #fff;}

.ds_filter_popup .popup_body {
	position: relative;
}
.ds_filter_popup .popup_body:before {
	content: "";
	position: absolute;
	left: 37.5%;
	top:2px;
	bottom:2px;
	border-right: 2px solid #c5c9c9;
}

.ds_filter_btn::after {
	content: "\f31b";
	font: 16px "Ionicons";
}

.DS.hoverable .table_list > li.unclickable {
	cursor: default;
}

.DS.ds_scrollable .table_list {
	overflow-y: scroll;
	position: relative;
	height: 100%;
	box-sizing: border-box;
}

.DS.ds_scrollable .table_list_cnt {
	height: 100%;
	box-sizing: border-box;
	padding-top: 3rem;
}

.DS.ds_scrollable .table_head_ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.DS.ds_scrollable .ds_container {
	position: relative;
}

.tab_head >li {
	display: inline-block;
	padding: 0.6rem 0.9rem;
	position: relative;
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 400;
	background: #306886;
	border-radius: 1px 1px 0 0;
	cursor: pointer;
	margin-right: 2px;
	top: 1px;
}
.tab_head >li .error {
	position: absolute;
	left: 6px;
	top: 100%;
	width: auto;
	white-space: nowrap;
	background: #b44242;
	color: #fff;
	padding: 0.5rem;
	font-size: 1.3rem;
}

.tabs._sm .tab_head >li {
	padding: 0.5rem 0.9rem;
	font-size: 1.2rem;
}

.tab_head >li.active {
	background: #ffffff;
	border: 1px solid #9db9c1;
	color: #184451;
	border-bottom: none;
	position: relative;
}


.DS.empty .ds_container,.DS.loading .ds_container,.DS.error .ds_container {
	display: none;
}
.DS._en_sorting .table_head_ul > li {
	cursor: pointer;
}
.DS._en_sorting .table_head_ul > li:hover {
	color: #ffff45;
}

.DS._en_sorting .table_head_ul > li._sorted_asc:before {
	content: '\f123';
	float: right;
	color: #fff;
	margin-left: 4px;
	font: 14px/32px 'Ionicons';
}
.DS._en_sorting .table_head_ul > li._sorted_dsc:before {
	content: '\f126';
	float: right;
	color: #fff;
	margin-left: 4px;
	font: 14px/28px 'Ionicons';
}
.DS._type1.focused .ds_container {
	outline: 2px solid #9db9c1;
}

.DS.empty .ds_status:before {
	content : "No data to display";
	display: block;
	text-align: center;
	padding: 1.4rem 0;
	background: #f0f0f0;
}

.DS.loading .ds_status:before {
	content : "Loading...";
	display: block;
	text-align: center;
	padding: 1.4rem 0;
	background: #f0f0f0;
}
.DS.error .ds_status:before {
	content : "Unable to fetch data, please check your network connection";
	display: block;
	text-align: center;
	padding: 1.4rem 0;
	color: #de5a5a;
	background: #f0f0f0;
}
.ds_topcnt {
	text-align: right;
	margin-bottom: 6px;
}
.ds_pagination.top {
	display: inline-block;
	
}
.ds_pagination.bottom {
	margin-top: 8px;
}

.ds_pagination.bottom .pagin_info {
	float: right;
	line-height: 2em;
}
.ds_pagul {
	display: inline-block;
}
.ds_pagul > li {
    display: inline-block;
    cursor: pointer;
    padding: 0.6rem 0.6rem;
    border: 1px solid #4c4c4c;
    margin: 0 0.4rem;
}
.ds_pagul > li.active {
	background: #27607e;
	cursor: text;
	color: #fff;
}

.ds_pagination.bottom .ds_pagul > li {
	margin: 0 4px 0 0;
}
.ds_pagination.top .ds_pagul > li {
	margin: 0 0 0 4px;
}

/* Popup */

.component.popup {
    position: relative;
    background: #34596c;
    /* overflow: hidden; */
    border-radius: 2px 2px 0 0;
    border: 2px solid #34596c;
    width: auto;
    max-width: 700px;
    padding-bottom: 3.7rem;
}

.popup_head {
    background:  #6d7980;
    /* border: 1px solid #fff; */
		padding: 0.4rem 0.9rem 0.8rem;
    color: #ffffff;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
}

.popup_head:before {
    content: "\f418";
    font: 18px 'Ionicons';
    margin-right: 8px;
}

.popup_body {
	padding: 1.2rem 1.2rem;
	background: #fff;
}



.component._nouline .cmp_ip  { border-bottom: none;}
.component._nouline .slbx_sl { border-bottom: none;}

.dl_table {
	display: table;
}
.tbl_row {
	display: table-row;
}

.tbl_head {
	font-size: 1.8rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid #ddd;
	margin-bottom: 10px;
	color: #333;
}

.tbl_col {
	display: table-cell;
	border-bottom: 1px solid #79b1c1;
	border-right: 1px solid #79b1c1;
	vertical-align: middle;
	box-sizing:border-box;
	min-height: 40px;
	padding: 0.5rem 1.5rem;
	min-width: 2em;
	width: 100px;
}
.tbl_col._lg {
	padding: 0.6rem 1rem 0.5rem;
}

.tbl_col._w3 {
	min-width: 300px;
}
.tbl_col._w25 {
	min-width: 250px;
}

.tbl_col._w2 {
	min-width: 200px;
}
.tbl_col._w1 {
	min-width: 100px;
}

.tbl_col ._amount {
	font-weight: 600;
	color: #e93333;
}
.tbl_col ._amount._lred {
	color:#e97c7c;
}

.tbl_col._theme1 {
	background: #27607e;
	color: #fff;
	border-color: #fff;
	font-size: 1.4rem;
}
.tbl_col._theme2 {
	background: #fff;
	font-size: 1.4rem;
}


.tbl_row:first-child .tbl_col {
	border-top: 1px solid #79b1c1;
}
.tbl_col:first-child { border-left: 1px solid #79b1c1;}

.qcd__ul a {
	color: #444;
}
.qcd__ul a:hover {
	color: #14b3e3;
}

.horizontal_form { margin-bottom: 15px;}
.horizontal_form .component,.horizontal_form1 .component { display: inline-block;vertical-align: top; margin-right: 10px;}
.horizontal_form1 .component.btn { margin-right: 0;margin-left: 4px;}
.component._vbt { vertical-align: bottom;}

.component.inputsheet .component {
	position: relative;
}
.component.inputbox {
	background: inherit;
}

._comp_inline {
	display: inline-block;
	vertical-align: top;
}
.component._comp_block {
	display: block;
}

._vmiddle { vertical-align: middle;	}

._fz14 { font-size:1.4rem; }

/* Widths */

._w1em {	width: 1em; }
._w2em {	width: 2em; }
._w3em {width: 4em;}
._w4em {	width: 4em; }
._w5em {	width: 5em; }
._w6em {	width: 6em; }
._w7em {	width: 7em; }
._w8em {width: 13em;}
._w9em {	width: 9em; }
._w10em {	width: 10em; }
._w11em {	width: 11em; }
._w12em {	width: 12em; }
._w13em {	width: 13em; }
._w14em {	width: 14em; }
._w15em {	width: 15em; }
._w16em {	width: 16em; }
._w17em {	width: 17em; }
._w18em {	width: 18em; }
._w19em {	width: 19em; }
._w20em {	width: 20em; }
._w22em {	width: 22em; }
._w23em {	width: 23em; }
._w24em {	width: 24em; }

._w25em {	width: 25em; }
._w28em {	width: 28em; }
._w30em {	width: 30em; }
._w35em {	width: 35em; }
._w40em {	width: 40em; }
._w50em {	width: 50em; }

._w5pc 	{ width: 5%;}
._w10pc { width: 10%;}
._w15pc { width: 15%;}
._w20pc { width: 20%;}
._w25pc { width: 25%;}
._w30pc { width: 30%;}
._w35pc { width: 35%;}
._w40pc { width: 40%;}
._w45pc { width: 45%;}
._w48pc { width: 48%;}

._w50pc { width: 50%;}
._w55pc { width: 55%;}
._w60pc { width: 60%;}
._w65pc { width: 65%;}
._w70pc { width: 70%;}
._w75pc { width: 75%;}
._w80pc { width: 80%;}
._w85pc { width: 85%;}
._w90pc { width: 90%;}
._w95pc { width: 95%;}
._w100pc { width: 100%;}

._mgtp_1x { margin-top: 1px; }
._mgtp_2x { margin-top: 2px; }
._mgtp_3x { margin-top: 3px; }
._mgtp_4x { margin-top: 4px; }
._mgtp_5x { margin-top: 5px; }
._mgtp_5x { margin-top: 5px; }
._mgtp_6x { margin-top: 6px; }
._mgtp_7x { margin-top: 7px; }
._mgtp_8x { margin-top: 8px; }
._mgtp_9x { margin-top: 9px; }
._mgtp_10x { margin-top: 10px; }
._mgtp_11x { margin-top: 11px; }
._mgtp_12x { margin-top: 12px; }
._mgtp_13x { margin-top: 13px; }
._mgtp_14x { margin-top: 14px; }
._mgtp_15x { margin-top: 15px; }
._mgtp_16x { margin-top: 16px; }
._mgtp_17x { margin-top: 17px; }
._mgtp_18x { margin-top: 18px; }
._mgtp_20x { margin-top: 20px; }



._mgtp_05em { margin-top: 0.5em; }
._mgtp_1em { margin-top: 1em; }
._mgtp_2em { margin-top: 2em; }

.component.popup._mw1300x { max-width: 1300px; }
.component.popup._mw1200x { max-width: 1200px; }
.component.popup._mw1150x { max-width: 1150px; }
.component.popup._mw1100x { max-width: 1100px; }
.component.popup._mw1000x { max-width: 1000px; }
.component.popup._mw800x { max-width: 800px; }

.component.popup._mw300x { max-width: 300px; }
.component.popup._mw400x { max-width: 400px; }
.component.popup._mw500x { max-width: 500px; }
.component.popup._mw600x { max-width: 600px; }

._mgrt_05em { margin-right: 0.5em; }
._mgrt_1em {margin-right: 2em;}
._mgrt_2em { margin-right: 2em; }
._mgrt_3em { margin-right: 3em; }
._mgrt_4em { margin-right: 4em; }
._mgrt_5em { margin-right: 5em; }
._mgrt_6em { margin-right: 6em; }
._mgrt_7em { margin-right: 7em; }
._mgrt_8em { margin-right: 8em; }
._mgrt_9em { margin-right: 9em; }
._mgrt_10em { margin-right: 10em; }


._mglt_3em  { margin-left: 3em; }
._mglt_10em { margin-left: 10em; }

._mgbt_05em { margin-bottom: 0.5em; }
._mgbt_1em { margin-bottom: 1em; }
._mgbt_2em { margin-bottom: 2em; }
._mgbt_3em { margin-bottom: 3em; }
._mgbt_4em { margin-bottom: 4em; }
._mgbt_5em { margin-bottom: 5em; }
._mgbt_0 { margin-bottom: 0; }

._mgtp_1em { margin-top: 1em; }
._mgtp_2em { margin-top: 2em; }
._mgtp_3em { margin-top: 3em; }
._mgtp_4em { margin-top: 4em; }
._mgtp_5em { margin-top: 5em; }

._pdlt_1em { padding-left: 1em;}
._pdlt_2em { padding-left: 2em;}
._pdlt_3em { padding-left: 3em;}
._pdlt_4em { padding-left: 4em;}
._pdlt_5em { padding-left: 5em;}
._pdlt_6em { padding-left: 6em;}
._pdlt_7em { padding-left: 7em;}
._pdlt_8em { padding-left: 8em;}
._pdlt_9em { padding-left: 9em;}
._pdlt_10em { padding-left: 10em;}
._pdlt_11em { padding-left: 11em;}
._pdlt_12em { padding-left: 12em;}

.component._pdlt0 .cmp_ip {
	padding-left: 0;
}

.component._wf {
	width: 100%;
}


._h10em {	height: 10em; }
._h20em {	height: 20em; }

.component.gridview {
	position: relative;
}
.gv_item_cnt {
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
}
.gv_item {
	width: 120px;
	height: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 120px;
	text-align: center;
	border: 1px solid #b8c5cc;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.gv_working_div {
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 200px;
	background: #fff;
	z-index: 4;
	font-size: 1.6rem;
}

.gv_img {
	display: inline-block;
	max-width: 90%;
	max-height: 90%;
	width: auto;height: auto;
	vertical-align: middle;
}
.gv_item:after {
	content: "";
	height: 100%;
	display: inline-block;
	width: 0px;
	vertical-align: middle;
}

.gv_item.selected {
	border: 2px solid #1591d4;
}

.gv_item.add_btn {
	background: #f0f0f0;
}

.gv_item.add_btn .gv_plus::before {
	content: "\f489";
	font-family: "Ionicons";
	font-size:48px;
}
.imgfield_cnt::after {
	content: "";
	display: inline-block;
	width: 0px;height: 100%;
	vertical-align: middle;
}
.imgfield_img {
	display: inline-block;
	width: auto;
	height: auto;
	max-width: 100%;max-height: 100%;
	vertical-align: middle;
}