

header {
	background: #1e4957;
	color: #fff;
}

.header-username {
	color: #fff;
}

.header-field-innr {
	color: #f9ff08;
}

aside {
	background: #15343e;
	color: #fff;
}

.aside_menu > li.focused > a,.aside_menu > li > a:hover {
	background: #fff;
	color: #184451;
}

.header-buttons > .btn.disabled {
	background: #447484;
	border-color: #447484;
	opacity: 0.4;
}

.hdrright_dropicon:hover {
	color: #52c6e8;
}

.header-right .dropdown-icon:hover {
	background: #5b747d;
}

.page_head {
	background: #18A44B;
	color: #fff;
}

.page_head:after {
	border-top: 3.4rem solid #18A44B;
	border-right: 3.4rem solid transparent;
}

.profdrop__pictxt {
	background: #b5d860;
	color: #fff;	
}

.profdrop__cmpname {
	color: #333;
}

.profdrop__username {
	color: #888;
}

.profdrop__logoutbtn {
	background: #f2f2f2;
}

.profdrop__logoutbtn:active {
	background: #e2e2e2;
}

.tab_content_item {
	background: #ffffff;
  border: 1px solid #9db9c1;
}

.popup_head {
	background:  #6d7980;
  color: #ffffff;
}

._hr { border-bottom: 2px solid #dbdbdb;}
._blue { color : #25649f; }