
.table_head_ul > li,.group_head_ul > li {
	float: left;
	background: #6d7980;
	padding: 0 0.3rem;
	height: 3rem;line-height: 2.8rem;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
	color: rgb(3, 3, 3);
	font-size: 100%;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
}

.inputsheet .table_head_ul > li,.inputsheet .group_head_ul > li {
	font-size: 1.4rem;
	height: 2.8rem;line-height: 2.8rem;
	font-weight: 400;
	text-align: center;
}

.table_head_ul > li .tabhead_span,.group_head_ul > li {
	line-height: 2.4rem;
	display: inline-block;
	vertical-align: middle;
	height: 2.5rem;
}

.table_head_ul > li._alcenter {
	text-align: center;
}

.table_head_ul {
	background: #6d7980;
}

.table_head_ul > li:last-child,.group_head_ul > li:last-child {
	border-right:1px solid #6d7980;
}

.DS.ds_with_form .ds_pagination.top {
    float: right;
    margin-top: -3.2rem;
}

.DS._condensed .table_list_ul > li { 	padding: 0.7rem 0.2rem 0.6rem;}
.tl_li {
	background: #fff;
}
.inputsheet .table_list_ul > li {
    background:#fff;
}


.table_list_ul > li {
 	float: left;
 	padding: 0.5rem 0.3rem 0.4rem;
 	box-sizing: border-box;
 	overflow: hidden;
 	white-space: nowrap;
 	text-overflow : ellipsis;
 	background: inherit;
 	border-right: 1px solid #575757;
 	border-bottom: 1px solid #575757;
}

.inputsheet .table_list_ul > li {
	/* padding: 0.2rem 0.4rem 0.2rem; */
	padding: 0 0em;
}

.inputsheet .table_list_ul > li .inputbox._type2 .ipbx_ip {
	padding-top: 0.25em;
	padding-bottom: 12px;
}

.inputsheet .table_list_ul > li .filefield .cmp_ip {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.inputsheet .table_list_ul > li .selectbox._type3 .slbx_sl {
	height: 1.8em;
}

.inputsheet .table_list_ul > li .datefield._type2 .dtpckr_ip {
	padding: 0.25em 0 0.25em 0.2em;
}

.inputsheet .table_list_ul > li .combobox._type2 .cmbx_ip {
	padding: 0.25em 0 0.25em 0.2em;
}

.inputsheet .table_list_ul > li .combobox._type1 .cmbx_arrow,
.inputsheet .table_list_ul > li .combobox._type2 .cmbx_arrow {
	top:0.35rem;
	right: 0.4em;
}

.inputsheet .table_list_ul > li .combobox._type1 .cmbx_with_srch .cmbx_arrow,
.inputsheet .table_list_ul > li .combobox._type2 .cmbx_with_srch .cmbx_arrow {
	right: 1.4em;
}


.inputsheet .table_list_ul > li .combobox._type2 .cmbx_search {
	top:0.2em;
}
.inputsheet .table_list_ul > li .combobox._type2 .cmbx_detbtn {
	top : 0.1em;
}

.inputsheet .table_list_ul > li .component.inputbox._ralign._type2 .ipbx_ip {
	padding-left: 0.2em;
	padding-right: 0.4em;
}
.inputsheet .table_list_ul > li .component.inputbox._type2 .ipbx_ip {
	padding-left: 0.4em;
	padding-right: 0.2em;
}

.inputsheet .table_list_ul > li .component.inputbox._type2._ralign .ipbx_label {
	right: 0.5em;
}
.inputsheet .table_list_ul > li .component.inputbox._type2 .ipbx_label {
	left: 0.5em;
}

.inputsheet .table_list_ul > li .component.inputbox._type2 .ipbx_ip {
	padding-left: 0.4em;
}
.inputsheet .table_list_ul > li .component.inputbox._type2 .ipbx_thsep {
	padding-left: 0.4em;
}

.inputsheet .table_list_ul > li .inputbox._type2 .ipbx_label {
	top: 0.25em;
	left: 0.4em;
}
.inputsheet .table_list_ul > li .combobox._type2 .cmbx_label {
	top: 0.3em;
}
.inputsheet .table_list_ul > li .inputbox._type2 .ipbx_thsep {
	top:0.25em;
}


.table_list_ul > li:first-child {
	border-left: 1px solid #575757;
}

.table_list > li:first-child > ul > li {
	border-top: none;
}
.table_list > .tl_li._bld > .table_list_ul > li {
	font-weight: 600;
}

.table_list_ul > li._red,.table_list_ul > li._red ._amount {
	background: #e93030; color: #fff;
}
.table_list_ul > li._orange,.table_list_ul > li._orange ._amount {
	background: #fc702f;color: #fff;
}
.table_list_ul > li._darkorange,.table_list_ul > li._darkorange ._amount {
	background: #e65d1e;color: #fff;
}
.table_list_ul > li._ltyellow {
	background: #fafaa5;
}

.table_list_ul > li._silver,.tl_li._silver {
	background: #f6f6f6;
}

.table_list_ul > li._disabled,.tl_li._disabled {
	background: #ddd;
	color: #888;
}


.table_list_ul > li._yellow {
	background: #fefe70;color: #000;
}

.table_list_ul > li._cyan,.table_list_ul > li._cyan ._amount {
	background: #00fdff;color: #000;
}
.table_list_ul > li._blue,.table_list_ul > li._blue ._amount {
	background: #189ad3;color: #fff;
}
.table_list_ul > li._green,.table_list_ul > li._green ._amount {
	background: #4c920c;color: #fff;
}
.table_list_ul > li._black,.table_list_ul > li._black ._amount {
	background: #000;color: #fff;
}

.tl_li._green > ul > li,.tl_li._green > ul > li ._amount {
	background: #4c920c;color: #fff;
}


.table_list_ul > li._b,.table_list_ul > li._b ._amount {
	font-weight: 600;
}


.table_list_ul:after,.table_head_ul:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.component.DS {
	font-family: 'Roboto';
	font-size: 1.3rem;
}

.component.DS.ds_with_head {
	padding-top: 0.8rem;
}

.DS.hoverable .table_list > li {
	cursor: pointer;
}
.DS .table_list > li:hover .table_list_ul > li,.DS .table_list > li.selected .table_list_ul > li {
	background: #437EAB;
	color: #fff;
}
.DS .table_list > li:active .table_list_ul > li {
	background: #437EAB;
	color: #fff;
}



.DS .table_list > li:hover .table_list_ul ._amount,.DS .table_list > li:active .table_list_ul ._amount {
	color: #fff;
}
.DS .table_list > li.selected .table_list_ul ._amount {
	color: #fff;
}


.table_list_ul ._amount,._sa._amount {
	font-weight: 600;
	color: #e93333;
}
.table_list_ul ._amount._lred,._sa._amount._lred {
	color:#e97c7c;
}
.table_list_ul ._amount._zero {
	font-weight: 300;
}

.table_list_ul ._amount_bl {
	font-weight: 600;
}
.table_list_ul ._amount_bl._zero {
	font-weight: 300;
}

.DS.hoverable .table_list > li {
	cursor: default;
}


.inputsheet._type2 .table_list_ul > li {
	padding: 0.5rem 1rem;
	height: 2.7em;
}

.component.inputsheet .tl_li {
	width: 100%;
}
.ip_sheet_balance_txt {
	display: block;
	text-align: left;
	font-size: 1.3rem;
	padding-left: 5.7rem;
	color: #349222;
}

.table_list_ul .ip_sheet_balance_txt ._amount {
	font-weight: inherit;
	color: inherit;
}

.ip_sheet_balance_txt._negative {
	color: #c04f40;
}
.ip_sheet_balance_txt.filled {
	margin-top:0;
}

.component._w300px { width: 300px;}
.component._w400px { width: 400px;}
.component._w500px { width: 500px;}
.component._w600px { width: 600px;}
.component._w700px { width: 700px;}
.component._w800px { width: 800px;}

.component._mw800px { max-width: 800px;}


.component.inputsheet .table_list .error_msg {
	position: absolute;
	top: 100%;
	margin-top: 0px;
	right: auto;
	z-index: 100;
	background: #a47070;
	padding: 1rem 1rem;
	border: 1px solid #d28383;
	left: 0;
	border-radius: 0.4rem;
	color: #fff;
	font-weight: 400;
}
.component.inputsheet .table_list .error_msg:before {
	content: "";
	position: absolute;
	top: -0.4rem;width: 0;height: 0;
	border-left: 0.3rem solid transparent;
	border-right: 0.3rem solid transparent;
  	border-bottom: 0.4rem solid #d28383;
}
.component.inputsheet .total_sec,.total_sec {
	font-size: 1.8rem;
	text-align: right;
	color: #04d;
	font-weight: 600;
	padding: 1rem 0 1rem;
}

.component.inputsheet .table_list_ul > li {
	overflow: visible;
}
