
.component.popup.service_rcvnote_popup { max-width: 105rem;padding-bottom: 4.5rem;}
.ncsvd_groupname { width: 30rem; overflow: hidden;}
.ncsvd_is_creategroup { float: left;margin-right: 0.5rem;margin-top: 0.2rem;}
.selectbx_label { margin-bottom: 0; }

.horizontal_field { display: inline-block;}


.component.popup.filterisrnreports_popup {
	max-width: 60rem;
}

.component.popup.rp_popup .txtarea_ip {
	height: 3em;
	min-height: 3em;
	width: 20em;
	font-size: 1em;
	padding: 0.5rem 0.8rem;
}
.rp_popup	 .textarea._type1 .txtarea_label {
	font-size: 0.9em;
	margin-bottom: 0.2rem;
}


.table_list_ul > li._green,.table_list_ul > li._green ._amount {
	background: #579c57;
	color: #fff;
}
.table_list_ul > li._yellow {
	background: #fefe70;
	color: #000;
}
.table_list_ul > li._orange,.table_list_ul > li._orange ._amount {
	background: #ec6e34;
	color: #fff;
}
.table_list_ul > li._red,.table_list_ul > li._red ._amount {
	background: #e02f2f;
	color: #fff;
}

.ds_invbillreport ._overdue > ul > li ._amount {
	color: #fff;
}
.table_list > li._expired ._amount {
	color: #fff;
}

.ds_invbillreport.hoverable .table_list > li._overdue:hover .table_list_ul > li {
	background: #bc4444;
}

.ds_invbillreport ._overdue_within_15 > ul > li {
	background: #fbe484;
}

.ds_invbillreport.hoverable .table_list > li._overdue_within_15:hover .table_list_ul > li {
	background: #fbe484;
}



.rpp_ds_cnt .total_amount_div {
	text-align: right;
	font-size: 1.6rem;

}
.rpp_ds_cnt .total_amount_div ._amount {
	font-weight: 600;
	color: #e93333;
}

.bspp_popup .fields .client_col.col .component { width: 100%;}

.hrz_form_btn { margin-top: 1.3rem;}

._label1 {
	color: #56b8bc;
}

.daybook_form {
	margin-bottom: 1rem;
}

.businessassoc_popup .table_list_ul > li._tbl_cdelete_btn {
	padding: 0.5rem 1rem;
}

._brdbt_t2 {
	border-bottom: 0.2rem solid #e1e1e1;
}

.head_small {
	color: #6778b7;
	border-bottom: 0.3rem solid #f0f0f0;
	padding-bottom: 0.5rem;
	margin: 0.5rem 0 1.5rem;
}

.item_unitsheet .table_head_ul { display: none;}
.item_unitsheet .table_list_ul > li:first-child { border-left: none; display: block;}
.item_unitsheet .table_list_ul > li { border-right: none; border-bottom: none; padding: 0.2rem 0.4rem;
	display: none;
}
.item_unitsheet .table_list_ul.active > li {
	display: block;
}

.item_unitsheet .table_list_ul.active > li._cdelete {
	display: none;
}

.item_unitsheet_tbl_cdelete > .btn {
	min-width: 0;
	padding: 0.35rem 0.5rem;
	font-size: 0;
}

.inputsheet.item_unitsheet .item_unitsheet_tbl_cunit_name {
	background: #75b6ba;
	color: #fff;
}

.item_unitsheet  .inputbox._type2 .ipbx_ip { padding-left: 0.2em;}
.item_unitsheet_tbl_cdelete > .btn::before {
	content: "\f37f";
	display: inline;
	font: 1.4rem "Ionicons";
}

.item_form_cnt1 {}
	
.unit_cnt0.overlay {
	position: relative;
}
.unit_cnt0.overlay::after {
	content: "";
	position: absolute;
	left: 0;top: 0;right: 0;bottom: 0;
}
	
.unit_cnt { margin-left: 2rem; margin-bottom: 1em;}
.popup.item_popup form > .fields:after {
	content: "";
	display: table;
	clear: both;
}
.opening_stock_cnt {
	clear: both;
	padding-top: 3rem;
}

.opening_stock_ips_cnt {
	clear: both;
	margin-top: 2em;
	max-width: 60rem;
}
.opening_stock_ips_cnt._w100pc {
	max-width: 100%;
}

.table_listcnt.item_openingsheet {
	max-height: 20rem;
	overflow-y: auto;
}

.opening_stock_ips_cnt .ips_head {
	color: #8171bf;
}

.ps_popup_wrap .mfp-content {
	height: 100%;
}

.ps_popup_wrap .mfp-container {
	padding: 0;
}

.prev_rate_notif {
	position: absolute;
  top: 90%;
  padding: 0.5rem;
  z-index: 100;
  pointer-events: none;
  font-size: 1.3rem;
  background: #fff;
  border-radius: 0.4rem;
  border: 1px solid #000;
  right: 0;
}

.ps_popup_wrap .popup {
	background: #f0f0f0;
}

.DS.ds_prev_rates .table_list_cnt {
	max-height: 30rem;
	overflow-y: auto;
}

.ps_popup_wrap .sp_popup_form {
	background: #fff;
	border-bottom: 1px solid #7c9d9f;
}

.stock_journal_popup .sp_popup_form {
	border-bottom: 1px solid #b8d2d4;
}

.ps_popup_wrap .popup_body {
	padding: 0;
	background: #f0f0f0;
}

.sp_popup_form {
	padding: 2rem 1rem 1rem 1rem;
}

.item_ip_sheet .ips_container {
	padding: 1rem 1rem 0;
}
.item_ip_sheet .ips_head {
	padding: 0 1rem;
}
.extra_det_form .notes_txtarea > .txtarea_label {
	margin-top: 2.5em;
}

.inputsheet.item_ip_sheet .table_list .cmp_ip { border-bottom: none;}
.inputsheet.item_ip_sheet .table_list .selectbox._type3 .slbx_sl { border-bottom: none;height:1.8em;}

.item_ip_sheet .table_list_ul > li._crate._has_btn {
	padding-right: 3rem;
	position: relative;
}
.ps_popup_wrap .btn._ps_arrow_btn {
	padding: 0.9rem 0.4rem;
	width: 1.8em;
	box-sizing: border-box;
	min-width: 0;
}

.ps_popup_wrap ._sidebar {
	float: left;
	width: 15%;
	padding-left: 1rem;
	box-sizing: border-box;
}

.ps_popup_wrap .ip_cnt {
	display: inline-block;
	margin-right: 2em;
	margin-top:0.3rem;
}

.ps_popup_wrap .ip_cnt_left {
	float: left;
	margin-left: 1em;
}

.ps_popup_wrap .footer_info_cnt {
	float: left;
	margin-left: 4em;
	line-height: 2.5rem;
	font-size: 1.4rem;
}

.item_ip_sheet._two_sided {
	width: 85%;
	float: right;
	box-sizing: border-box;
}

.item_ip_sheet .table_list_ul > li._crate._has_btn ._prevrate_btn {
	cursor: pointer;
	box-sizing: border-box;
	border: none;
	padding: 0;
	background: #c2c2c2;
	display: block;
	width: 2.3rem;
	position: absolute;
	right: 0.3rem;
	top: 0.2rem;
}
.item_ip_sheet .table_list_ul > li._crate._has_btn ._prevrate_btn:hover {
	background: #9cc5db;
}

.item_unitsheet .table_list_ul > li.item_unitsheet_tbl_c_where {
	padding-left: 0.5em;
}
.item_unitsheet .table_list_ul > li.item_unitsheet_tbl_cdelete { 
	padding-left: 0.4em;
	display: none;
}


.popup.item_select_popup {
	max-width: 100rem;
}

.popup.item_select_popup .popup_body {
	min-height: 30rem;
	padding: 0.5rem;
}
.ds_stock_brand_summary .tl_li.row_l1 ._tbl_cname {
	padding-left: 1em;
}
.ds_stock_brand_summary .tl_li.row_l2 ._tbl_cname {
	padding-left: 2em;
}

.ds_stock_brand_summary .tl_li._is_head {
	font-weight: 700;
}
.ds_stock_brand_summary .tl_li.row_l1._is_head {
	font-weight: 500;
}

.ds_stock_brand_summary .tl_li._i {
	font-style: italic;
}


.ds_categories_tbl_cname._level_1 {
	padding-left: 1em;
}
.ds_categories_tbl_cname._level_2 {
	padding-left: 2em;
}

.inputsheet.sjr_owitemsheet {
	border-right: 0.2rem solid #a9c3c5;
}

.inputsheet.sjr_owitemsheet,.inputsheet.sjr_iwitemsheet {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding-top: 10px;
}
.inputsheet.sjr_iwitemsheet {
	width: 50%;
}
.inputsheet.sjr_owitemsheet {
	width: 50%;
}

.ps_popup_wrap .price_cnt_right {
	float: right;
}

.table_list_ul > li.ds_cost_itemwise_tbl_camount {
	padding: 0;
}

.ps_popup_wrap .price_cnt_left {
	float: left;
	text-align: left;
}

.table_list_ul > li.ips_selbx_padding {
	padding: 0.1rem 0.4rem 0.1rem;
}

.mcarv_voucher.vtype-sj .ds_voucher_items, .mcarv_voucher.vtype-sj .ds_voucher_items2 {
	display: inline-block;
	width: 49.5%;
}
.mcarv_voucher.vtype-sj .ds_voucher_items {
	margin-right: 1%;
}
.pricing_ips.item_unitsheet1 {
	margin-right: 2%;
}
.pricing_ips {
	display: inline-block;
	width: 49%;
}


.working_accounts {
	line-height: 34px;
}
.working_accounts span {
    max-width: 250px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
		vertical-align: top;
		font-weight: 700;
}

.working_accounts_div .dropdown-box {
	padding: 15px 10px 11px;
	left: 50%;
	margin-left: -300px;
	margin-top: 5px;
	z-index: 5;
	white-space: nowrap;
}

.working_accounts_div .dropdown-box::before {
	right: 300px;
}

.working_accounts {
	height: 34px;
	padding: 0 10px;
	cursor: pointer;
}

.working_accounts_div {
	position: relative;
	margin-right: 0.6em;
	margin-top:-1px;
	vertical-align: top;
	text-align: left;
	background: #5c7e9c;
	font-size: 15px;
	color: #fff;
}

.component.DS.ds_dnotes_sel .table_list_cnt {
  max-height: 450px;
  overflow-y: auto;
}
._ov_hide {
	overflow: hidden;
}

.invpp_item_img {
	float: right;
	border:1px solid;
	margin-left: 20px;margin-bottom: 20px;
}

.ip_cnt .ps_save_status {
	margin-right: 3em;
	vertical-align: middle;
	padding-top: 0.2em;
	color: #000;
	font-size: 1.4rem;
}

.drill_sel li {
	-webkit-user-select: none; /* Safari, iOS, and Android */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	
	padding: 7px 10px;
	background: #5a7f93;
	border-bottom: 2px solid #fff;
	color: #fff;
	text-align: center;
	border: 1px solid #275872;
	margin-bottom: 2px;
	cursor: pointer;
}
.drill_sel li.active {
	color: #275872;
	background: #fff;
}

.ds_hld_item_list .ds_container {
	max-height: 500px;
}

.DS.ds_cost_summary .tl_li._l1 .ds_cost_summary_tbl_cparticulars {
	padding-left: 2em;
}

.jbstatus_pp .popup_body {
	padding: 0;	
	background: #999;
}